.city {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}
.container {
  border: 1px solid rgb(109, 109, 109);
  border-radius: 15px;
  margin-top: 50px;
  /*background-image: url(sunny.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
  background-color: rgb(246, 253, 143);
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.location {
  text-align: left;
}
.date {
  text-align: center;
}
.today {
  text-align: center;
}
.tempreture {
  font-size: xx-large;
}
.currentLocation {
  text-align: center;
  padding: 3px;
  border: solid 1px rgb(109, 109, 109);
  border-radius: 5px;
  background-color: orange;
  width: 100px;
  height: 45px;
  font-size: small;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 2px;
  color: rgb(240, 245, 166);
}
table.todayall {
  width: 100%;
  table-layout: fixed;
  margin: 30px auto;
}
table.table {
  width: 100%;

  table-layout: fixed;
  margin: 10px auto;
}

tr.otherdays {
  text-align: center;
  vertical-align: auto;
  padding: 10px;
}
